<template>
  <div class="container">
    <navbar-component :title="navbarTitle">
      <template v-slot:buttons>
        <button class="btn btn-primary" @click="storeProduct()">Save</button>
        <button class="btn btn-danger" onclick="location.href='/'">
          Cancel
        </button>
      </template>
    </navbar-component>
    <product-form-component>
      <template v-slot:alerts>
        <div
          v-for="(message, key) in transactionErrors"
          :key="key"
          class="alert alert-danger"
          role="alert"
        >
          {{ message }}
        </div>
        <div
          v-for="(message, key) in transactionsSuccesses"
          :key="key"
          class="alert alert-success"
          role="alert"
        >
          {{ message }}
        </div>
      </template>
    </product-form-component>
    <footer-component :footerText="footerText"></footer-component>
  </div>
</template>

<script>
import { required, decimal } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      url: "https://juniordevelopertesttasksolution.000webhostapp.com/product",
      navbarTitle: "Product Add",
      footerText: "Scandiweb Test assignment",
      transactions: { status: "", messages: [] },
      sku: "",
      name: "",
      price: "",
      type: "",
      size: "",
      weight: "",
      height: "",
      width: "",
      length: "",
    };
  },
  validations() {
    let rules = {
      sku: { required },
      name: { required },
      price: { required, decimal },
      type: { required },
    };
    if (this.type == "dvd_discs") {
      rules["size"] = { required, decimal };
    }
    if (this.type == "books") {
      rules["weight"] = { required, decimal };
    }
    if (this.type == "furnitures") {
      rules["height"] = { required, decimal };
      rules["width"] = { required, decimal };
      rules["length"] = { required, decimal };
    }

    return rules;
  },
  methods: {
    validateInputs() {
      let freeFromRequiredErrors = true;
      let freeFromDecimalErrors = true;
      if (this.$v.$invalid) {
        for (let error of Object.values(this.$v)) {
          if (error && error.required == false) {
            freeFromRequiredErrors = false;
          }
          if (error && error.decimal == false) {
            freeFromDecimalErrors = false;
          }
        }
      }
      if (!freeFromRequiredErrors) {
        this.transactions.status = "error";
        this.transactions.messages.push("Please, submit required data");
      }
      if (!freeFromDecimalErrors) {
        this.transactions.status = "error";
        this.transactions.messages.push(
          "Please, provide the data of indicated type"
        );
      }
      if (!freeFromDecimalErrors || !freeFromRequiredErrors) {
        return false;
      }
      return true;
    },
    storeProduct() {
      let url = this.url + "/add";

      this.transactions.status = "";
      this.transactions.messages = [];

      this.sku = this.$store.state.item.sku;
      this.name = this.$store.state.item.name;
      this.price = this.$store.state.item.price;
      this.type = this.$store.state.item.type;
      this.size = this.$store.state.item.size ?? null;
      this.weight = this.$store.state.item.weight ?? null;
      this.height = this.$store.state.item.height ?? null;
      this.width = this.$store.state.item.width ?? null;
      this.length = this.$store.state.item.length ?? null;

      this.$store.state.transaction.errors = {};
      this.$store.state.transaction.errors = this.$v;

      if (!this.validateInputs()) {
        return false;
      }

      let data = this.$store.state.item;

      let config = {
        headers: {
          Accept: "application/json",
        },
      };

      axios
        .post(url, data, config)
        .then((response) => {
          this.transactions.status = "success";
          this.transactions.messages.push(response.data.message);
          this.$store.state.item = {};
        })
        .catch((error) => {
          this.transactions.status = "error";          
          this.transactions.messages.push(error.response.data.message.sku);
        });
    },
  },
  computed: {
    transactionErrors() {
      let errors = [];
      if (this.transactions.status == "error") {
        errors = this.transactions.messages;
      }
      return errors;
    },
    transactionsSuccesses() {
      let successes = [];
      if (this.transactions.status == "success") {
        successes = this.transactions.messages;
      }
      return successes;
    },
  },
};
</script>
