<template> 
    <footer class="p-4 fixed-bottom text-center border-top container bg-white">
      {{ footerText }}
    </footer> 
</template>

<script>
export default {
  props: ["footerText"],
};
</script>