<template>
  <div>
    <div class="form-group row">
      <label :for="id" class="col-sm-2 col-form-label">{{ title }}</label>
      <div class="col-sm-5">
        <input :id="id" :type="type" class="form-control" v-model="$store.state.item[id]" :aria-describedby="idDescription"/>        
      </div>
      <slot name="validations"></slot>
    </div>
    <div :id="idDescription" class="form-text text-muted">{{descriptionText}}</div>
  </div>
</template>

<script>
export default {
  props: ["id", "title", "type","idDescription", "descriptionText"]  
};
</script>
