<template>
  <nav class="navbar navbar-light border-bottom">
    <div class="navbar-brand">
      {{ title }}
    </div>
    <div>      
      <slot name="buttons"></slot>
    </div>
  </nav>
</template>

<script>
export default {
  props: ["title"],  
};
</script>
