<template>
  <div class="container">
    <navbar-component :title="navbarTitle">
      <template v-slot:buttons>
        <button class="btn btn-primary" onclick="location.href='/add-product'">
          ADD
        </button>
        <button
          id="delete-product-btn"
          class="btn btn-danger"
          @click="massDelete()"
        >
          MASS DELETE
        </button>
      </template>
    </navbar-component>
    <product-grid-component :products="products.data"></product-grid-component>
    <footer-component :footerText="footerText"></footer-component>
  </div>
</template>

<script>
export default {
  data() {
    return {
      url: "https://juniordevelopertesttasksolution.000webhostapp.com/product",
      products: [],
      navbarTitle: "Product List",
      footerText: "Scandiweb Test assignment",
    };
  },
  methods: {
    getProducts() {
      let config = {
        headers: {
          Accept: "application/json",
        },
      };

      fetch(this.url, config).then((response) => {
        response.json().then((result) => {
          if (response.ok) {
            this.products = {
              data: result,
            };
          } else {
            console.log(result);
          }
        });
      });
    },
    massDelete() {
      this.$store.state.massDelete.forEach((product_id) => {
        let url = this.url + "/delete?id=" + product_id;

        let config = {          
          headers: {
            Accept: "application/json",
            
          },
        };

        axios.get(url, config).then(response =>{
          this.getProducts();
        })
        .catch(error=>{
          console.log(error.response)
        });       
      });
    },
  },
  mounted() {
    this.getProducts();
  },
};
</script>
