<template>
  <form id="product_form" class="mt-4" action="">
    <slot name="alerts"></slot>
    <input-group-component id="sku" title="SKU" type="text">
      <template v-slot:validations>
        <div v-if="$store.state.transaction.errors.sku">
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.sku.required"
            >This field is mandatory</span
          >
        </div>
      </template>
    </input-group-component>

    <input-group-component id="name" title="Name" type="text">
      <template v-slot:validations>
        <div v-if="$store.state.transaction.errors.name">
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.name.required"
            >This field is mandatory</span
          >
        </div>
      </template>
    </input-group-component>

    <input-group-component id="price" title="Price ($)" type="number">
      <template v-slot:validations>
        <div v-if="$store.state.transaction.errors.price">
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.price.required"
            >This field is mandatory</span
          >
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.price.decimal"
            >This field must be numeric</span
          >
        </div>
      </template>
    </input-group-component>

    <div class="form-group row">
      <label for="productType" class="col-sm-2 col-form-label"
        >Type Switcher</label
      >
      <div class="col-sm-4">
        <select
          class="custom-select"
          id="productType"
          v-model="$store.state.item.type"
          @change="changeForm()"
        >
          <option value=""></option>
          <option value="dvd_discs">DVD</option>
          <option value="books">Book</option>
          <option value="furnitures">Furniture</option>
        </select>
      </div>
      <div v-if="$store.state.transaction.errors.type">
        <span
          class="text-danger"
          v-if="!$store.state.transaction.errors.type.required"
          >This field is mandatory</span
        >
      </div>
    </div>

    <input-group-component
      v-if="$store.state.item.type == 'dvd_discs'"
      id="size"
      title="Size (MB)"
      type="number"
      idDescription="sizeDescription"
      :descriptionText="sizeDescription"
    >
      <template v-slot:validations>
        <div v-if="$store.state.transaction.errors.size">
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.size.required"
            >This field is mandatory</span
          >
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.size.decimal"
            >This field must be numeric</span
          >
        </div>
      </template>
    </input-group-component>

    <input-group-component
      v-if="$store.state.item.type == 'books'"
      id="weight"
      title="Weight (KG)"
      type="number"
      idDescription="weightDescription"
      :descriptionText="weightDescription"
    >
      <template v-slot:validations>
        <div v-if="$store.state.transaction.errors.weight">
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.weight.required"
            >This field is mandatory</span
          >
          <span
            class="text-danger"
            v-if="!$store.state.transaction.errors.weight.decimal"
            >This field must be numeric</span
          >
        </div>
      </template>
    </input-group-component>

    <div v-if="$store.state.item.type == 'furnitures'">
      <input-group-component id="height" title="Height (CM)" type="number">
        <template v-slot:validations>
          <div v-if="$store.state.transaction.errors.height">
            <span
              class="text-danger"
              v-if="!$store.state.transaction.errors.height.required"
              >This field is mandatory</span
            >
            <span
              class="text-danger"
              v-if="!$store.state.transaction.errors.height.decimal"
              >This field must be numeric</span
            >
          </div>
        </template>
      </input-group-component>

      <input-group-component id="width" title="Width (CM)" type="number">
        <template v-slot:validations>
          <div v-if="$store.state.transaction.errors.width">
            <span
              class="text-danger"
              v-if="!$store.state.transaction.errors.width.required"
              >This field is mandatory</span
            >
            <span
              class="text-danger"
              v-if="!$store.state.transaction.errors.width.decimal"
              >This field must be numeric</span
            >
          </div>
        </template>
      </input-group-component>

      <input-group-component id="length" title="Length (CM)" type="number" idDescription="hwlDescription" :descriptionText="hwlDescription">
        <template v-slot:validations>
          <div v-if="$store.state.transaction.errors.length">
            <span
              class="text-danger"
              v-if="!$store.state.transaction.errors.length.required"
              >This field is mandatory</span
            >
            <span
              class="text-danger"
              v-if="!$store.state.transaction.errors.length.decimal"
              >This field must be numeric</span
            >
          </div>
        </template>
      </input-group-component>
    </div>    
  
  </form>
</template>

<script>
export default {
  data() {
    return {
      productType: "",
      sizeDescription: "Please provide the size in MB",
      weightDescription: "Please provide the weight in KG",
      hwlDescription: "Please provide dimensions in HxWxL format",
    };
  },
  methods: {
    changeForm() {
      delete this.$store.state.item.size;
      delete this.$store.state.item.weight;
      delete this.$store.state.item.height;
      delete this.$store.state.item.width;
      delete this.$store.state.item.length;
    },
  },
};
</script>
