<template>
  <div class="row flex-wrap" style="margin-bottom: 7em">
    <product-card-component
      v-for="product in products"
      :key="product.id"
      :product="product"
    ></product-card-component>
  </div>
</template>

<script>
export default {
  props: ['products']  
};
</script>
