<template>
  <div class="col-lg-3 col-md-4 mt-5">
    <div class="card">
      <div class="mt-2 ml-3">
        <input class="delete-checkbox" type="checkbox" :value="product.id" v-model="$store.state.massDelete"/>
      </div>
      <div class="card-body text-center">
        <span>{{ product.sku }}</span
        ><br />
        <span class="card-text">{{ product.name }}</span
        ><br />
        <span class="card-text">{{ product.price }} $</span><br />
        <span v-if="product.type == 'dvd_discs'" class="card-text"
          >Size: {{ product.info[0].size }} MB <br
        /></span>
        <span v-if="product.type == 'books'" class="card-text"
          >Weight: {{ product.info[0].weight }} KG
        </span>
        <span v-if="product.type == 'furnitures'" class="card-text"
          >Dimensions: {{ product.info[0].height }}x{{ product.info[0].width }}x{{
            product.info[0].length
          }}</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["product"]
};
</script>
