<template>
  <div class="d-flex justify-content-center">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">405 Method Not Allowed</h1>
        <p class="col-md-8 fs-4">The HTTP method used is not accepted by this page.</p>        
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
